USE [GraveyardPlantsDB]
GO
/****** Object:  Table [dbo].[BonusesFines]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusesFines](
	[BfId] [int] IDENTITY(1,1) NOT NULL,
	[GardenerId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeceasedPlants]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeceasedPlants](
	[PlantId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Species] [nvarchar](100) NOT NULL,
	[CauseOfDeath] [nvarchar](200) NOT NULL,
	[DeathDate] [date] NOT NULL,
	[OwnerId] [int] NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[RecordId] [int] NULL,
	[Timestamp] [datetime] NOT NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[GoodId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityChecks]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityChecks](
	[QualityCheckId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CheckDate] [datetime] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[QualityCheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RitualGoods]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RitualGoods](
	[GoodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOrders]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOrders](
	[ServiceOrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[GardenerId] [int] NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.04.2026 2:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[AvatarPath] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BonusesFines] ON 

INSERT [dbo].[BonusesFines] ([BfId], [GardenerId], [Amount], [Reason], [Date]) VALUES (1, 12, CAST(500.00 AS Decimal(10, 2)), N'Премия за отличную работу в марте', CAST(N'2024-03-31' AS Date))
INSERT [dbo].[BonusesFines] ([BfId], [GardenerId], [Amount], [Reason], [Date]) VALUES (2, 13, CAST(-200.00 AS Decimal(10, 2)), N'Штраф за опоздание на смену', CAST(N'2024-03-05' AS Date))
INSERT [dbo].[BonusesFines] ([BfId], [GardenerId], [Amount], [Reason], [Date]) VALUES (3, 14, CAST(300.00 AS Decimal(10, 2)), N'Благодарность от клиента', CAST(N'2024-03-10' AS Date))
SET IDENTITY_INSERT [dbo].[BonusesFines] OFF
GO
SET IDENTITY_INSERT [dbo].[DeceasedPlants] ON 

INSERT [dbo].[DeceasedPlants] ([PlantId], [Name], [Species], [CauseOfDeath], [DeathDate], [OwnerId], [PhotoPath], [CreatedAt]) VALUES (3, N'Алоэ Вера', N'Aloe vera', N'Корневая гниль', CAST(N'2024-03-05' AS Date), 4, NULL, CAST(N'2026-04-03T21:11:35.133' AS DateTime))
INSERT [dbo].[DeceasedPlants] ([PlantId], [Name], [Species], [CauseOfDeath], [DeathDate], [OwnerId], [PhotoPath], [CreatedAt]) VALUES (4, N'Папоротник', N'Nephrolepis exaltata', N'Сухой воздух', CAST(N'2024-01-28' AS Date), 5, NULL, CAST(N'2026-04-03T21:11:35.133' AS DateTime))
INSERT [dbo].[DeceasedPlants] ([PlantId], [Name], [Species], [CauseOfDeath], [DeathDate], [OwnerId], [PhotoPath], [CreatedAt]) VALUES (5, N'Кактус Джо', N'Mammillaria', N'Заморозки', CAST(N'2024-02-10' AS Date), 6, NULL, CAST(N'2026-04-03T21:11:35.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeceasedPlants] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogId], [UserId], [Action], [TableName], [RecordId], [Timestamp], [Details]) VALUES (1, 1, N'INSERT', N'Users', 2, CAST(N'2024-03-01T08:00:00.000' AS DateTime), N'Создан новый пользователь')
INSERT [dbo].[Logs] ([LogId], [UserId], [Action], [TableName], [RecordId], [Timestamp], [Details]) VALUES (2, 1, N'UPDATE', N'DeceasedPlants', 10, CAST(N'2024-03-01T09:15:00.000' AS DateTime), N'Изменена причина смерти')
INSERT [dbo].[Logs] ([LogId], [UserId], [Action], [TableName], [RecordId], [Timestamp], [Details]) VALUES (5, 12, N'UPDATE', N'Orders', 1, CAST(N'2024-03-02T09:00:00.000' AS DateTime), N'Статус изменён на "Completed"')
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [GoodId], [Quantity], [Price]) VALUES (7, 4, 7, 2, CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [GoodId], [Quantity], [Price]) VALUES (8, 4, 8, 1, CAST(4.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [GoodId], [Quantity], [Price]) VALUES (9, 5, 9, 1, CAST(10.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status], [TotalAmount]) VALUES (4, 4, CAST(N'2024-03-03T14:20:00.000' AS DateTime), N'Processing', CAST(44.50 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status], [TotalAmount]) VALUES (5, 5, CAST(N'2024-03-04T16:45:00.000' AS DateTime), N'Pending', CAST(33.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status], [TotalAmount]) VALUES (6, 6, CAST(N'2024-03-06T12:00:00.000' AS DateTime), N'Completed', CAST(74.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[QualityChecks] ON 

INSERT [dbo].[QualityChecks] ([QualityCheckId], [OrderId], [CheckDate], [Rating], [Comments]) VALUES (4, 4, CAST(N'2024-03-04T10:00:00.000' AS DateTime), 3, N'Задержка по времени')
INSERT [dbo].[QualityChecks] ([QualityCheckId], [OrderId], [CheckDate], [Rating], [Comments]) VALUES (5, 5, CAST(N'2024-03-05T16:20:00.000' AS DateTime), 4, N'Хорошо, но можно лучше')
INSERT [dbo].[QualityChecks] ([QualityCheckId], [OrderId], [CheckDate], [Rating], [Comments]) VALUES (6, 6, CAST(N'2024-03-07T08:45:00.000' AS DateTime), 5, N'Превысили ожидания')
SET IDENTITY_INSERT [dbo].[QualityChecks] OFF
GO
SET IDENTITY_INSERT [dbo].[RitualGoods] ON 

INSERT [dbo].[RitualGoods] ([GoodId], [Name], [Description], [Price], [StockQuantity], [ImagePath]) VALUES (2, N'Поминальный горшок', N'Керамический горшок с эпитафией', CAST(12.50 AS Decimal(10, 2)), 30, NULL)
INSERT [dbo].[RitualGoods] ([GoodId], [Name], [Description], [Price], [StockQuantity], [ImagePath]) VALUES (3, N'Скорбная земля', N'Специальная земляная смесь для траурных посадок', CAST(3.99 AS Decimal(10, 2)), 100, NULL)
INSERT [dbo].[RitualGoods] ([GoodId], [Name], [Description], [Price], [StockQuantity], [ImagePath]) VALUES (4, N'Слезолейка', N'Декоративная лейка в виде капли', CAST(8.75 AS Decimal(10, 2)), 20, NULL)
SET IDENTITY_INSERT [dbo].[RitualGoods] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Пользователь')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (5, N'Ритуальный агент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceOrders] ON 

INSERT [dbo].[ServiceOrders] ([ServiceOrderId], [OrderId], [ServiceId], [Quantity], [Price]) VALUES (4, 4, 4, 1, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[ServiceOrders] ([ServiceOrderId], [OrderId], [ServiceId], [Quantity], [Price]) VALUES (5, 5, 5, 1, CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[ServiceOrders] ([ServiceOrderId], [OrderId], [ServiceId], [Quantity], [Price]) VALUES (6, 6, 6, 1, CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ServiceOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (1, N'Церемония оплакивания', N'Профессиональный плач по вашей герани', CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (2, N'Поминальная служба', N'Чтение жизнеописания растения', CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Name], [Description], [Price]) VALUES (3, N'Ритуал захоронения', N'Полный обряд с лопаткой и землёй', CAST(40.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftId], [GardenerId], [ShiftDate], [StartTime], [EndTime], [Notes]) VALUES (1, 12, CAST(N'2024-03-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Дежурство на участке А')
INSERT [dbo].[Shifts] ([ShiftId], [GardenerId], [ShiftDate], [StartTime], [EndTime], [Notes]) VALUES (2, 13, CAST(N'2024-03-01' AS Date), CAST(N'10:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Приём заказов')
INSERT [dbo].[Shifts] ([ShiftId], [GardenerId], [ShiftDate], [StartTime], [EndTime], [Notes]) VALUES (3, 14, CAST(N'2024-03-02' AS Date), CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Обход захоронений')
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [FullName], [RoleId], [AvatarPath], [CreatedAt]) VALUES (1, N'admin_main', N'hash_admin', N'admin@graveyard.com', N'Главный кккк', 1, NULL, CAST(N'2026-04-03T21:11:35.130' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [FullName], [RoleId], [AvatarPath], [CreatedAt]) VALUES (4, N'sidorov_s', N'hash3', N'sidorov@example.com', N'Сергей Сидоров', 2, NULL, CAST(N'2026-04-03T21:11:35.130' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Email], [FullName], [RoleId], [AvatarPath], [CreatedAt]) VALUES (5, N'kozlova_e', N'hash4', N'kozlova@example.com', N'Елена Козлова', 2, NULL, CAST(N'2026-04-03T21:11:35.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160F6FA28BC]    Script Date: 04.04.2026 2:55:13 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E55AB183]    Script Date: 04.04.2026 2:55:13 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E52B109A]    Script Date: 04.04.2026 2:55:13 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BonusesFines] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[DeceasedPlants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[QualityChecks] ADD  DEFAULT (getdate()) FOR [CheckDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BonusesFines]  WITH CHECK ADD FOREIGN KEY([GardenerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DeceasedPlants]  WITH CHECK ADD FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([GoodId])
REFERENCES [dbo].[RitualGoods] ([GoodId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QualityChecks]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([GardenerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[QualityChecks]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[RitualGoods]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[RitualGoods]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD CHECK  (([StartTime]<[EndTime]))
GO
